pre {
        font-size: 12px;
        padding: 0;
        margin: 0;
        background: #f0f0f0;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        line-height: 20px; 
        width: 90%;
        overflow: auto; /*--if the code exceeds the width, a scrolling is available--*/
        overflow-y: hidden;  /*--hides vertical scroll created by ie--*/
}



.headerBlock {

  color: #555;
  background: #f5f5f5;

  border-color: #353535;
  height: 70px;
/*   vertical-align: middle; */
}



.leftColBlock {

  color: #555;
  background: #f5f5f5;

  width: 15%;
  height: 70%;
  float: left;
}


.contentColBlock {

  color: #555;
  background: #fff;

  width: 69%;
  height: 70%;
  float: left;
}

.rightColBlock {

  color: #555;
  background: #f5f5f5;

  width: 15%;
  height: 70%;
  float: right;
  
}

.footerBlock {
  clear: both;

  color: #555;
  background: #f5f5f5;

  border: solid 1px;
  border-color: #353535;
  height: 70px;

}

